:root{

  --bs-blue:#00afef;
  --bs-indigo:#1f5ca9;
  --bs-purple:#6f42c1;
  --bs-pink:#d63384;
  --bs-red:#FA896B;
  --bs-orange:#fd7e14;
  --bs-yellow:#Fbef21;
  --bs-green:#13DEB9;
  --bs-teal:#20c997;
  --bs-cyan:#539BFF;
  --bs-black:#000;
  --bs-white:#fff;
  --bs-gray:#2A3547;
  --bs-gray-dark:#343a40;
  --bs-gray-100:#F6F9FC;
  --bs-gray-200:#EAEFF4;
  --bs-gray-300:#DFE5EF;
  --bs-gray-400:#7C8FAC;
  --bs-gray-500:#5A6A85;
  --bs-gray-600:#2A3547;
  --bs-gray-700:#495057;
  --bs-gray-800:#343a40;
  --bs-gray-900:#212529;
  --bs-primary:#00afef;
  --bs-secondary:#84ccf4;
  --bs-success:#13DEB9;
  --bs-info:#539BFF;
  --bs-warning:#Fbef21;
  --bs-danger:#FA896B;
  --bs-light:#F6F9FC;
  --bs-dark:#2A3547;
  --bs-muted:#5A6A85;
  --bs-indigo:#1f5ca9;
  --bs-light-primary:#ECF2FF;
  --bs-light-secondary:#E8F7FF;
  --bs-light-info:#EBF3FE;
  --bs-light-success:#E6FFFA;
  --bs-light-warning:#FEF5E5;
  --bs-light-danger:#FBF2EF;
  --bs-light-indigo:#EBF3FE;
  --bs-dark-light:#2A3547;
  --bs-light-gray:#F6F9FC;
  --bs-primary-text:#4a6ccc;
  --bs-secondary-text:#2A3547;
  --bs-success-text:#0fb294;
  --bs-info-text:#325d99;
  --bs-warning-text:#996813;
  --bs-danger-text:#c86e56;
  --bs-light-text:#2A3547;
  --bs-dark-text:#495057;
  --bs-primary-bg-subtle:#dfe7ff;
  --bs-secondary-bg-subtle:#F6F9FC;
  --bs-success-bg-subtle:#d0f8f1;
  --bs-info-bg-subtle:#ddebff;
  --bs-warning-bg-subtle:#ffefd2;
  --bs-danger-bg-subtle:#fee7e1;
  --bs-light-bg-subtle:#fbfcfe;
  --bs-dark-bg-subtle:#7C8FAC;
  --bs-primary-border-subtle:#becfff;
  --bs-secondary-border-subtle:#EAEFF4;
  --bs-success-border-subtle:#a1f2e3;
  --bs-info-border-subtle:#bad7ff;
  --bs-warning-border-subtle:#ffdfa5;
  --bs-danger-border-subtle:#fdd0c4;
  --bs-light-border-subtle:#EAEFF4;
  --bs-dark-border-subtle:#5A6A85;
}

.nav-search{
    width: 50rem;
    height: 40px; 
    margin: auto;
}

@media (max-width: 1260px) {
    .nav-search {
        width: 30rem;
    }
  }

@media (max-width: 767px) {
    .nav-search {
      display: none !important;
    }

    .search-toggler {
      display: block !important;
    }
  }

  a .badge:hover {
    background-color: #84ccf4 !important;
}

/* Message */
#chat .form-control {
  border-color: transparent;
}

#chat .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -.75rem;
}

.scroll-chat {
  height: 320px; 
  overflow-y: auto; 
}

.friend-chat{
  background-color: #f5f6f7;
}


/* Noti */
.noti-item:hover {
  color: var(--bs-body-color) !important;
  background-color: #F6F9FC !important;
}


/* Sidebar */
.nav-small-cap {
  font-weight: bold; 
  cursor: pointer; 
}

/* Thêm */

.position-center {
  width: 75%;
  margin: 0 auto;
}

.form-group {
  padding-bottom: 12px;
}

.form-group label{
  font-weight: bold;
  margin-bottom: 5px;
}

/* Bài viết */
.limited-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng tối đa hiển thị */
  -webkit-box-orient: vertical;
}

.post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.disabled-link{
  color: var(--bs-dark-text);
}

.disabled-link:hover{
  color: var(--bs-dark-text);
}

.disabled-mess{
  pointer-events: none;
  color: var(--bs-dark-text);
}

.document-icon{
  font-size: xx-large;
  padding: 5px;
}

.wrap-friend-text{
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 42px
}

.text-notice {
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slideInRight 0.5s forwards;
  opacity: 0;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-notice-warning::before {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bs-white);
}

.text-notice-success::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bs-white);
}

.text-notice-warning::before, .text-notice-danger::before {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bs-white);
}

.text-notice .fa-times-circle{
  cursor: pointer;
}


.position-center {
  width:76%;
  margin: 0 auto;
}
